body { 
  font-family: Arial, "Helvetica Nevue", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 34px;
  color: #777;
  background-image: url("images/seigaiha.png");
}



/* header */
#logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
    margin-left: 100px;
    margin-right: 200px;
  }

  .nav-link {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    margin: 25px 15px 60px 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
    float: right;
    font: Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    

  }

  .nav-tabs {
    margin-bottom:30px;
  
  }
/* content */
  .container {
    width: 100%;
    border: 1px solid;
    border-color: #dddddd;
    background-color: white;
    max-width: 960px;
    margin: 30px auto;
    padding: 30px;
    clear: both;
  }

  #header {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    font-size: 40px;
    color: #4aaaa5;
    border-bottom: 2px solid;
    border-color: #dddddd;
    padding: 10px;
  }

  .col-md-7, .col-md-5 {
    padding-top: 25px;
    margin-bottom: 30px;
  }

/* footer */

  .footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0
  }
